//Palette color 
$pc1: #e5352c;
$pc2: #e7423a;
$pc3: #e94f47;
$pc4: #ec6861;
$pc5: #f29a96;
$pc6: #f9cdcb;
$pc7: #fce6e5;
$pc8: #ffffff;
$pc9: #000000;

//Header
$h-bg-col: $pc1;
$h-h1-col: $pc9;
$h-tx-col: $pc9;
$a-hov-col: $pc5;
$h-pad: 10px;
$h-pad-LnR: 8%;

//Card in carousel
$ch-mar-LnR: 10px;

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $h-bg-col;
    padding: $h-pad;
    padding-left: $h-pad-LnR;
    padding-right: $h-pad-LnR;
    box-shadow: -10px 1px 50px;

    h1{
        color:$h-h1-col;
    }

    ul{
        li{
            display: inline-block;
            margin: 20px;
            font-size: large;
            font-weight: bold;
            transition: all 0.5s ease-out;  
            color:$h-tx-col;
        
            .move{
                text-decoration: none;
                color:$h-tx-col;
                transition: all 0.5s ease-out;

                &:hover{    
                    transition: all 0.5s ease-in;
                    transform: translate(-20px,0px);
                    font-size: x-large;
                    color: $a-hov-col;
                }
            }

            .nonmove{
                text-decoration: none;
                color:$h-tx-col;

                &:hover{
                    color: $a-hov-col;
                }
            }
        }
    }
}

.Carousel-Attraction{

    .card-holder{
        margin-left: $ch-mar-LnR;
        margin-right: $ch-mar-LnR;
        display: flex;
        justify-content: center;

        .card{
            width: 90%;
        }
    }
}

$car-height: 88vh;

.Carousel-Main{
    width: 100%;
    height: $car-height;

    .slick-next{
        position: absolute;
        right: 30px;
    }

    .slick-prev{
        position: absolute;
        left: 30px;
        z-index: 1;
    }

    .img-box-carousel{
        width: 100%;
        height: $car-height;
        position: relative;
        

        &.img-1{
            width: 100%;
            height: $car-height;
            //filter: blur(5px) sepia(50%);
            background-image: url("Images/niagara-falls/1.jpg");
            background-size: cover;
        }

        &.img-2{
            width: 100%;
            height: $car-height;
            background-image: url("");
            background-size: cover;
        }

        &.img-3{
            width: 100%;
            height: $car-height;
            background-image: url("");
            background-size: cover;
        }

        &.img-4{
            width: 100%;
            height: $car-height;
            background-image: url("");
            background-size: cover;
        }

        &.img-5{
            width: 100%;
            height: $car-height;
            background-image: url("");
            background-size: cover;
        }

        &.img-6{
            width: 100%;
            height: $car-height;
            background-image: url("");
            background-size: cover;

        }

        .h1{
            filter: blur(0) sepia(0);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            font-size: 100px;
        }
    }
}

.outerbox{
    width: 95%;
    height: 500px;
    background-color: $pc6;
    display: flex;
    flex-direction: row;
    margin: 20px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border-radius: 20px;

    &.reverse{
        flex-direction: row-reverse;

    }

    .text{
        width: 50%;

        h1{
            padding-top: 10px;
            padding-bottom: 10px;
            display: flex;
            justify-content: center;
        }

        h2{
            padding-top: 10px;
            padding-bottom: 10px;
            display: flex;
            justify-content: center;
        }

        p{
            padding: 10px;
            padding-left: 20px;
            padding-right: 20px;
            font-size: large;
            display: flex;
            justify-content: center;
        }

        a{
            display: flex;
            justify-content: center;
            margin-left: 25%;
            margin-right: 25%;
        }
    }

    .outbox-img{
        background-color: $pc3; 
        background-size: cover;
        width: 50%;
        border-radius: 20px;

        &.pm{
            background-image: url("Images/General/pm.jpeg");
        }

        &.poutine{
            background-image: url("Images/General/Poutine.jpg");
        }
    }


    .index-attraction-img{
        background-image: url("Images/niagara-falls/1.jpg");
        background-color: $pc3; 
        background-size: cover;
        width: 50%;
        border-radius: 20px;
    }

    .index-General-info-img{
        background-image: url("Images/niagara-falls/1.jpg");
        background-size: cover;
        background-color: $pc3;
        width: 50%;
        border-radius: 20px;
    }
}



$f-pad-TnB: 50px;

.footer{
    width: 100%;
    background-color: $pc9;
    color: $pc8;
    padding-top: $f-pad-TnB;
    padding-bottom: $f-pad-TnB;
    display: flex;
    justify-content: center;
    align-items: center;
}